<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
 {{>navbar}}
    <div class= "container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/boy.svg" alt="photo" class="img-fluid" title="vinayak">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="hii">MERN Stack Developer</span></h1>
                    <a href=""><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>