<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>
 {{>navbar}}
    <div class= "container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>Get The Latest <span class="hii">Weather</span> Info of Your City</h1>
                    <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="w-100" src="images/bg1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="w-100" src="images/bg2.png" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="w-100" src="images/bg3.jpg" alt="Third slide">
                              </div>
                            </div>
                            
                          </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>