<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>
 {{>navbar}}
    <div class= "container-fluid main_header">
        <div class="row main_con">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                    <tr><td>
                   <form class="temp_form form-group">
                       <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                       <input class="btn btn-lg btn-outline-dark" type="submit" value="search" id="submitBtn">
                   </form>
               </div> 
               <div class="tempInformation">
                   <div class="top_layer">
                       <p>Friday</p>
                       <p>11 June</p>
                   </div>
                   <div class="main_layer">
                       <p id="city_name">Get Output Here</p>
                       <div class="middle_layer">
                           <p id="temp"><span id="temp_real">0</span><sup>o</sup>C</p>
                           <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                       </div>
                   </div>
               </div>   
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script>
        
        const getCurrentDay=()=>{
            let weekday=new array(7);
            weekday[0]="Sunday";
            weekday[1]="Monday";
            weekday[2]="Tuesday";
            weekday[3]="Wednesday";
            weekday[4]="Thursday";
            weekday[5]="Friday";
            weekday[6]="Saturday";
            let currentTime=new Data();
            days=weekday[currentTime.getDay()];
            let day=document.getElementById('day');
            day.innerText=days;
        };
        getCurrentDay();
    </script>
</body>
</html>